<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Categoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <header>
        <h1>Editar Categoria</h1>
    </header>

    <main>
        <h2>Alterar os dados da categoria</h2>

        <!-- Formulário para editar a categoria -->
        <form action="{{ url_for('bp_categories.edit_category', id=categoria.id) }}" method="POST">
            <div>
                <label for="categoria">Nome da Categoria:</label>
                <input type="text" id="categoria" name="categoria" value="{{ categoria.nome }}" required>
            </div>
            <div>
                <button type="submit" class="button">Salvar Alterações</button>
            </div>
        </form>

        <!-- Botão para voltar à lista de categorias -->
        <div>
            <a href="{{ url_for('bp_categories.view_categories') }}" class="button">Voltar à Lista de Categorias</a>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Sistema de Gestão de Categorias</p>
    </footer>

</body>

</html>
